
h4{
	
    background-image: url(http://flags.fmcdn.net/data/flags/w580/fr.png);
    color: black;
    font-family: futura;
    background-size: cover;
    text-align: center;
    font-size: 15
    font-weight: thin;
    margin-bottom: 0;

}

body{
}


 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.my-container {
    max-width:100%;
}

.navbar a {
    display: block;
    color: rgb(94,91,91);
    text-align: center;
    padding:0;
    text-decoration: none;
    font-family: futura
    padding-top: 0;
    padding-right: 0;
    font-size: 9;

}

.bottles {
    display:flex;
    justify-content: flex-end;
    flex-direction: column;

}

#title {
    display: flex;
    flex-direction: column;
    padding-right: 100px;

}

.logo img {
    width: 70px;
}

.bar {  
    width: 100vw;
}


.fond1 {
    margin-right: 0;
    padding-right: : 0;
}


table {
  position: relative;
}

#text {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 100px;
    font-weight: bold;
    left: 150px;
    top: 350px;
}

#banner{
    text-align : center;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 5px black;
    background-image: url(images/back.png);
    padding: 150px 50px 150px 0px;
    
}

#banner h1 {
  color: white;
  font-size: 50px;
  font-family: futura;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
  font-family: futura;
}

.alignement {
    display: flex;
    justify-content: space-between;
}

.btn-jecommence {
    width : 150px;
}

#bottle1{
    margin-top: 450px;
    text-align: center;

}

#bottle2{
    width: 60px;
    margin-top: 400px;
    text-align: center;

}

#bottle3{
    text-align: center;
    margin-bottom: 300px;
}

#bouteille{
    text-align: center;
    margin-top: 160px;
}

#bouteille h1{
    font-size: 105px;
}

#bouteille h2{
    font-size: 60px;
}

button {
    width: 100px 100px 100px 100px ; 
    border-radius: 50px ; 
    /*margin-left: 135px;*/
    font-family: futura;

}

p {
    text-align: center;
    font-family: futura ;
    font-size: 30px
}

.price {
    text-align: center;
    font-family: futura;
    font-size: 30px;
}
/*
#banner2{
    background-image: url(https://scontent-cdt1-1.xx.fbcdn.net/v/t34.0-12/22782102_1693724834004266_1208047478_n.png?oh=5bb8a02028314633cf5ccdb171efa0ea&oe=59F29E66);

}

#banner2 h1{
    margin-left: 1000px;
}

#banner2 h2{
    margin-left: 1000px;
}*/